  <footer class="container">
    <div class="row">
      <span title="Tuomas Vaherkoski">tuopppi | web-ohjelmointi ht | 2014</span>
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/backbone.js"></script>
  <script src="/js/handlebars.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/timeline.js"></script>

  <!-- Templates -->
  <% include templates/message-templates.tpl %>
  <% include templates/site-location-template.tpl %>
  <% include templates/friend-template.tpl %>
  <% include templates/add-friend-modal-template.tpl %>

  </body>
</html>