<% include header.ejs %>

  <div class="container">
    <div id="main-header" class="row">
      <div class="col-sm-6">
        <h1><a href="#" title="Go to front page">Kamula</a></h1>
      </div>
      <div id="kamula-user-controls" class="col-sm-6">
        <% if(username) { %>

        <a id="signed-in-username" href="#<%= username %>" title="Profile page"><%= username %></a>
        <a class="btn btn-link btn-md" href="#settings" title="Settings page">Settings</a>
        <a class="btn btn-primary btn-md" href="/logout">Sign out</a>    
        
        <% } else { %>  

        <div class="btn-group">
          <button class="btn btn-default btn-md" data-toggle="modal" data-target="#signIn">
            Sign in
          </button>
          <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#joinModal">
            Join Kamula
          </button>
        </div>
        <% } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" id="error">
        <span data="<%= error %>"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ol id="site-location" class="breadcrumb">
        </ol>
      </div>
    </div>

    <div id="main-page">
      <div id="send-status-message" class="row">
        <div class="col-md-12">
          <div id="status-send-alert"></div>
          <input type="text" class="form-control" id="status-text" placeholder="New status message...">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Status messages</h3>
          <div id="timeline">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="list-group" id="friends">
          </ul>
        </div>
      </div>
    </div>

    <div id="settings-page">
      <div class="row">
        <div class="col-md-8">
          <h2>Settings</h2>
          <form role="form" id="profile-edit-form" autocomplete='off'>
            
            <div class="form-group">
              <label for='name'>Full Name</label>
              <input class="form-control" type='text' name='name' id='name' required />
            </div>

            <div class="form-group">
              <label for='email'>Email</label>
              <input class="form-control" type='email' name='email' id='email' required />
            </div>

            <label for='old_password'>Old password</label>
            <div class="input-group form-group">
              <span class="input-group-addon">
                <input name="set-new-password" type="checkbox" name="">
              </span>
              <input type="password" class="form-control" id='old_password' name="old_password"
                     placeholder="Tick the checkbox if you want to change your password">
            </div>

            <div class="form-group">
              <label for='new_password'>New password</label>
              <input class="form-control" type='password' name='new_password' id='new_password' />
            </div>

            <div class="form-group">
              <button type='submit' class="btn btn-primary" data-saved-text="Saved!">Save</button>
            </div>


          </form>
        </div>
        <div class="col-md-4">
          <h2>Help</h2>
          <div class="well">
            <p>
              You can delete your account here. Restoring the same account is not possible and you won't be able to sign in after the process is complete.
            </p>
            <a id="destroy-profile" href="#" class="btn btn-danger">Delete account</a>
          </div>
          <div class="well">
              If you want to change your password, tick the checkbox under <strong>Old password</strong> label and write both, new and old passwords to provided inputs.
          </div>
        </div>
      </div>
    </div>

  </div> 

  <% include modals.html %>
 
<% include footer.html %>
