<!-- Sign In Modal -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signInLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signInLabel">Sign in</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="login">
          <div class="form-group">
            <label for="sign-in-username">Username</label>
            <input name="username" type="text" class="form-control" id="sign-in-username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="sign-in-password">Password</label>
            <input name="password" type="password" class="form-control" id="sign-in-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="joinModalLabel">Join Kamula</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for='name'>Full Name</label>
            <input class="form-control" type='text' name='name' id='name' required />
          </div>
          <div class="form-group">
            <label for='email'>Email</label>
            <input class="form-control" type='email' name='email' id='email' required />
          </div>
          <div class="form-group">
            <label for='user' >Username</label>
            <input class="form-control" type='text' name='user' id='user' required />
          </div>
          <div class="form-group">
            <label for='password' >Password</label>
            <input class="form-control" type='password' name='password' id='password' required />
          </div>
          <button type='submit' class="btn btn-primary">Join now</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" 
     id="addFriendModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="addFriendModalLabel" 
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addFriendModalLabel">Add friend</h4>
      </div>
      <ul class="modal-body list-group">
      </ul>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>