#kamula-user-controls {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: right;
}

#addFriendModal .list-group-item span {
	margin-right:1em;
	cursor: pointer;
}

.status-collection.expanded .status-orginal {
	border-bottom-width: 10px;

}

.status {
	position: relative;
}

.status a.destroy {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
}

.timestamp {
	color: #999;
}

div.add-comment {
	background: #d9edf7;
}

div.add-comment input#comment-text {
	width: 100%;
}

a.show-comments {
	cursor: pointer;
}

#profile {
	display: none;
}

.modal-body.list-group {
	margin-bottom: 0;
}

:invalid {
	border-color: #d9534f;
	border-width: 2px;
}

#main-page, #settings-page {
	display: none;
}

footer {
	text-align: right;
	color: #ddd;
}

footer span {
	padding-right: 1em;
}