<script id="site-location-template" type="text/x-handlebars-template">
  <li><a href="#">Timeline</a></li>
  {{#each pages}}

  {{#if @last}}
    <li class="active">{{user}}</li>
  {{else }}
  	<li>{{user}}</li>
  {{/if}}
  {{/each}}
</script>